[mysqld]
bind-address    = 127.0.0.1
secure_file_priv = /usr/local/mysql/mysql-files
explicit_defaults_for_timestamp=1
character_set_server=utf8
lower_case_table_names=1
lc-messages-dir	= /usr/local/mysql/share
innodb_print_all_deadlocks=1



server-id = 1
port		= 3306
user		= mysql
basedir		= /usr/local/mysql
datadir		= /usr/local/mysql/data
socket		= /usr/local/mysql/run/mysqld.sock
pid-file	= /usr/local/mysql/run/mysqld.pid
log_error   = /usr/local/mysql/logs/error.log
tmpdir		= /usr/local/mysql/tmp







[mysql]
user = root
password = root
socket = /usr/local/mysql/run/mysqld.sock
prompt = '\p:\U:\d> '



